<!-- use state in react  -->
<!-- use effect(()=>{
    console.log("use effect called")
    document.title=`you clicked ${count} times`
  },[count])
    return (
        <div>
        <p>You clicked {count} times</p>
        <button onClick={() => setCount(count + 1)}>
            Click me
        </button>
        </div>
    ); -->
<!-- useCallBack hook function in react -->

<!-- hooks
     useId hook 
     use memo hook
     use ref hook
        use context hook
        use reducer hook
        use call back hook  
        use effect hook
        use state hook -->

